.org, .per, .plc {
  font-weight: bold;
  color: red;
}
.texto {
  font-size: 24px;
}
.sentena_sem_relao {
  font-weight: bold;
  font-size: 19px;
}
.word {
  cursor: pointer;
}
.big {
  font-weight: bold;
  color: black;
}
.entity, .word {
  color: black;
}